<%# banner %>
<div class="banner">
  <br><br><br><br><br><br>
  <h2>Welcome to</h2>
  <h1 class="title"><%= image_tag ("Logo_FoodBook.png"), class: "logo" %></h1>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
  <div class="form-search form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>

</div>
<%# end of banner %>

<div class="cards">

  <% @users.each do |user| %>
    <div class="card">

      <div class="d-flex">
        <div class="image">
        </div>


        <div class="card-user-description">
          <h2><%= user.first_name %> <%= user.last_name %></h2>
          <p><%= user.bio %></p>
        </div>
      </div>

      <div class="card-user-info">
        <p>56 recipes<br>211k followers</p>
      </div>
      <div class="tags">
          <button>tag 1</button><button>tag 2</button><button>tag 3</button>
      </div>


    </div>
  <% end %>
</div>
