<% @cart.each do |cart_item| %>
  <ul>
  <li>
  <%= cart_item.meal.name %>
  <%= cart_item.amount %>
  <%= link_to "Delete", cart_path(cart_item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "cancel" %>
  </li>
  </ul>
<% end %>
