<div class="create-recipe-form">
  <h1 class="title-form">Create a new recipe</h1>
  <form>
    <div class="form-content">
      <div class="top-left">
        <label>
          <input type="text" placeholder="Recipe Name"/>
        </label>
      </div>
      <div class="bottom-left">
        <label>
          <input type="text" placeholder="Description"/>
        </label>
      </div>
      <div class="top-right">
        <label>
          <input type="text" placeholder="Instructions"/>
        </label>
      </div>
      <div class="bottom-right">
        <label>
          <input type="file"/>
        </label>
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>


<%# Form for Ingredient Search %>
<div class="greenbox">
  <div class="search-bar">
    <%= form_with url: new_user_meal_path, method: :get do %>
      <div class="form-search form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control-search string required",
          placeholder: "What do you need?"
        %>
        <%= button_tag(name: "", class: "search-button") do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
  </ul>
</div>
<%# end of Form with results %>
