.banner {
  padding: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  height: 65vh;
  background-image:  image-url("angelica-echeverry-HhVTiioq9DY-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  margin-top: 50px;
}
.logo {
  height: 15vh;
}
