.cart-form {
  margin: 100px 100px;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-links{
  text-align: center;
}
.continue-link {
 padding: 10px;
 margin: auto;
}

.continue-link:hover{
  color:#00d23c;
}
.translate-button {
  width: 100%;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  margin-bottom: 30px;
  background-color: #00d23c;
  color:white !important;
  text-align: center;
  width: 150px;
  height: 40px;
}

.translate-button:hover {
  color: #fafafa;
  transition: all 0.5s;
  background-color: #037e26;
}

.cart-action {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 25px;
}

.cart-action span {
  padding: 0 30px;
  right: 130px;
}

.traslate-btn {
  width: 100%;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  margin-right: 10px;
  background-color: #00D23B;
  color:white;
  text-align: center;
}

.cart-delete {
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #e26f7b;
  color:white !important;
}

.cart-delete:hover {
  transform: scale(1.1);
  background-color: #cf1c2e;
  color:white !important;
  transition: 0,5s;
}

.cart-filler {
  min-height: 50vh;
}

.cart-content a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #00D23B;
}

.cart-content {
  margin-left: 50px;
 }
