.edit-form-input {
  width: 100%;
  border: none;
  height: 40px;
  background-color: rgb(239, 226, 226);
  border-radius: 5px;
  padding-left: 10px;
}

.edit-form-label {
  font-weight: bold;
}

.container {
margin-top: 60px;
}
