.navbar-lewagon {
  justify-content: space-between;
  background: #ede5dbca;
  position: fixed;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}
.add-recipe-btn {
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  margin-right: 10px;
  background-color: #2b9148a4;
  color: #fafafa;
}
.add-recipe-btn:hover {
  transform: scale(1.05);
  text-decoration: none;
  color: #fafafa;
}
