.ingredient-card {
  display: flex;
  background: #ede5dbca;
  width: 100%;
  padding: 20px 30px;
  margin: 10px 0px;
  border: none;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between;
}

.ingredient-card i {
  color: rgb(236, 78, 78);
}

.ing-btn {
  background: none;
  border: none;
}

.division {
  position: relative;
}

.division i {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 35px;
  left: 510px;
}

// button
.add-ingredient-btn {
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  margin-right: 10px;
  background-color: #2b9148a4;
  color: #fafafa;
}
.add-ingredient-btn:hover {
  transform: scale(1.05);
  text-decoration: none;
  color: #fafafa;
  background-color: #0e9033e2;
}
