// Search Bar Home Page
.search-bar {
  margin: 50px auto;
  width: 500px;
}

.form-search {
  display: flex;
}

.form-control-search {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: white;
  border: none;
  padding-left: 20px;
  margin: 0px auto;
  width: 100%;
}

.form-control-search::placeholder {
  color: #00D23B;
}

.form-control-search:focus, input:focus{
  outline: none;
}

.search-button {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: white;
  color: #00D23B;
  border: none;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 15px;
}
.search-button:hover i {
  color: #0ede34;
  transform: scale(1.2);
}
// Search Bar Home Page end

// Search Bar New/Edit Meal
