.shoppingcart-form {
  background-color: #fafafa;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 8px;
  margin: 100px auto;
  border: solid 1px #00D23B;
  line-height: 27px;
}
.shoppingcart-form h2 {
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
}
.table-list {
  display: grid;
  column-count: 3;
}
.shopping-list {
  justify-content: left;
}
.shoppingcart-table {
  border-spacing: 10px 20px;
  margin: auto;
}
.total {
  text-align: right;
  padding: 20px;
  margin-right: 25px;
}
.total hr {
  border: none;
  height: 2px;
  color: #333;
  background-color: #333;
}
.list-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkout {
  width: 100%;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  margin-bottom: 30px;
  background-color: #00d23c;
  color:white;
  text-align: center;
  width: 150px;
  height: 40px;
}
.list-actions a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkout {
  color: #fafafa;
}
.checkout:hover {
  transform: scale(1.1);
  transition: transform .3s ease-in-out;
  color:white;
}
.continue-link:hover {
  transform: scale(1.1);
  transition: transform .3s ease-in-out;
  font-style: italic;
}
